:root{
    --b_1:#338FFF;
    --border:#E5E5E5;
    --back_1:#F4F4F4;
    --y_1:#F4D404;
    --r_1:#EA0A45;
    --black:#303030;
}
.header_container{
    height:90px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:100%;
}
.header_container p{
    font-family:"Bold";
    font-size:30px;
    letter-spacing:-0.4px;
    color: var(--black);
}